html {
     -webkit-font-smoothing: antialiased;
}

body {
    color: #686868;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-rendering: optimizeLegibility;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h1 {
    font-size: 2.125em;
}

h2 {
    font-size: 1.5875em;
    margin-bottom: 0.9em;
}

h3,
h4,
h5,
h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

p {
    line-height: 1.5;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

a {
    color: #0170c1;
}

a:hover,a:focus {
    color: #1f81cf;
}

a:active {
    text-decoration: underline;
}

.description{
    margin-bottom: 1em;
}

.example{
    margin-bottom: 1em;
}

.formula{
    text-align: center;
}