.labels
{
    font-size: 24px;
    color: #627bf4;
}

#datasetDropDownList
{
    font-size: 30px;
    margin: 0 auto;    
    height: 5em;
    font: 1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#08233e;
    padding:5px;
    width: 17em;
    height: 2.2em;
    background-color:rgba(253,252,253,0.85);
}

#datasetDisplayTable
{
    width: 100%;
    height: 80%;
    border-collapse:collapse;
    background-color: white;
    font:1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#datasetInformation
{
    width: 30em;
    display: inline-block;
}

#variablesDiv
{
    text-align: center;
}

.variableList
{
    border-collapse: collapse; 
    padding: 15px;
    background-color: #f8f9f7;
    color: black;
    table-layout: fixed;
    font:1.0em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th
{
    background-color: #627bf4;
    font:1.1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 15px;
    color: white;
}

#left
{
    text-align: right;
    width: 50%;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#right
{
    text-align: left;
    width: 50%;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
}

#middle
{
    padding-top: 25px;
    padding-bottom: 25px;
}

#submitButton
{
    width: 15em;
    height: 3em;
    position: relative;
    color: black;
    font:1.7em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    padding:25px;
    background-color:#f8f9f7;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 black;
    -webkit-box-shadow:inset 0 2px 0 black;
    box-shadow:inset 0 1px 0 #f8f9f7;
    cursor:pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
	width: 160px;
}

#buttonWrapper
{
    width: 100%;
    text-align: center;
}

body
{
    background-color: white;
}