.bins
{
    stroke: black;
}

.xAxisGrooves, .yAxisGrooves
{
    stroke: black;
}

.medians
{
    stroke: black;
}

.TOPFringeConnectors,.BOTTOMFringeConnectors
{
    stroke: grey;
}

.TOPFringes, .BOTTOMFringes
{
    stroke: darkslategray;
}
.means
{
    stroke: black;   
}

.displayDataTable
{
    background-color: LemonChiffon;
    border: none;
    font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th
{
    background-color: DarkSlateGray;
    color: white;
}
#regressionPredictionTable
{
    font:1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;   
    text-align: center;
    border: none;
}
input[type=text]
{
    color: #979797;
    font:1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;   
    padding-left: 5px;
    text-decoration: none;
    border: none;
}
text
{
    font-family: "Verdana", sans-serif; font-weight: normal; font-style: normal;
}

#oneSampleTestButton
{
    width: 20em;
    height: 2em;
    position: relative;
    left: -3%;
    color: black;
    font:1.1em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    padding:10px;
    background-color:#f8f9f7;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 black;
    -webkit-box-shadow:inset 0 2px 0 black;
    box-shadow:inset 0 1px 0 #f8f9f7;
    cursor:pointer;
}

#indexPanel
{
    position: absolute; 
    left: 0px; 
    top: 0px;  
    background-color: white;
    font: 1.1em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    border-style: solid;
    border: 5px outset #777777; 
}

#helpTitle
{
    text-align: center;
}
#descriptionPanel
{
    position: absolute; 
    left: 0px;   
    background-color: white;
    font: 1.1em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    border-style: solid;
    border: 5px outset #777777;
}

#variablePanel
{
    font: white;
}

body
{
    overflow: hidden;
}

#reportPanel
{
    overflow: auto;
}

#report
{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    font-family: "Verdana", sans-serif; 
    font-weight: normal; 
}
