.bins
{
    stroke: black;
}

.xAxisGrooves, .yAxisGrooves
{
    stroke: black;
}

.medians
{
    stroke: black;
}

.TOPFringeConnectors,.BOTTOMFringeConnectors
{
    stroke: grey;
}

.TOPFringes, .BOTTOMFringes
{
    stroke: darkslategray;
}
.means
{
    stroke: black;   
}

.displayDataTable
{
    background-color: LemonChiffon;
    border: none;
    font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th
{
    background-color: DarkSlateGray;
    color: white;
}
#regressionPredictionTable
{
    font:1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;   
    text-align: center;
    border: none;
}
input[type=text]
{
    color: #979797;
    font:1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;   
    padding-left: 5px;
    text-decoration: none;
    border: none;
}
text
{
    font-family: "Verdana", sans-serif; font-weight: normal; font-style: normal;
}

