export(getData)
export(getMeanAndMedian)
export(getIQR)
export(getCorrelationCoefficient)
export(getBiserialCorrelationCoefficient)
export(getRSquared)
export(getLinearModelCoefficients)
export(getCI)
export(getQQPlotCoordinates)
export(getStandardError)

export(subsetDataByLevelsOfVariable)

export(performOneSampleTTest)
export(performOneSampleWilcoxonTest)

export(performTTest)
export(performANOVA)
export(performOneWayRepeatedMeasuresANOVA)
export(performTwoWayANOVA)
export(performWelchANOVA)
export(performFriedmanTest)
export(performKruskalWallisTest)
export(performWilcoxonTest)
export(performMannWhitneyTest)
export(performHomoscedasticityTest)
export(performShapiroWilkTest)
export(performMultipleRegression)

export(performTukeyHSDTestOneIndependentVariable)
export(performTukeyHSDTestTwoIndependentVariables)

export(performPairwiseTTest)
export(performPairwiseWilcoxonTest)

export(applyTransform)

export(drawQQPlot)

export(getESFromF)
export(getESFromT)
export(getDFromT)
export(getESFromChiSquared)
export(getESFromP)
export(getESFromRawMeanScores)

export(findTransformForDependentVariables)
export(findTransform)
export(findEffect)

export(runThisRCode)

export(getVariableNames)
export(loadFile)