export(getData)
export(getMeanAndMedian)
export(getIQR)
export(getCorrelationCoefficient)
export(getBiserialCorrelationCoefficient)
export(getRSquared)
export(getLinearModelCoefficients)
export(getCI)
export(getQQPlotCoordinates)
export(getStandardError)

export(subsetDataByLevelsOfVariable)

export(performOneSampleTTest)
export(performOneSampleWilcoxonTest)

export(performTTest)
export(performANOVA)
export(performOneWayRepeatedMeasuresANOVA)
export(performTwoWayANOVA)
export(performFactorialANOVA)
export(performWelchANOVA)
export(performFriedmanTest)
export(performKruskalWallisTest)
export(performWilcoxonTest)
export(performMannWhitneyTest)

export(performHomoscedasticityTest)
export(performShapiroWilkTest)
export(performSphericityTest)

export(performMultipleRegression)

export(performTukeyHSDTestOneIndependentVariable)
export(performTukeyHSDTestTwoIndependentVariables)

export(performPairwiseTTest)
export(pairwise.t.test.with.t)
export(pairwise.table.t)

export(performPairwiseWilcoxTest)
export(pairwise.wilcox.test.with.statistic)
export(pairwise.table.with.statistic)

export(applyTransform)

export(drawQQPlot)

export(getESFromF)
export(getESFromT)
export(getDFromT)
export(getESFromChiSquared)
export(getESFromP)
export(getESFromRawMeanScores)

export(findTransformForDependentVariables)
export(findTransformForNormality)
export(findTransformForHomogeneity)
export(findEffect)

export(runThisRCode)

export(getVariableNames)
export(loadFile)
export(writeToFile)