export(getData)
export(getCorrelationCoefficient)
export(getBiserialCorrelationCoefficient)
export(getLinearModelCoefficients)
export(getStandardError)
export(subsetDataByLevelsOfVariable)
export(performTTest)
export(performOneWayANOVA)
export(performOneWayRepeatedMeasuresANOVA)
export(performTwoWayANOVA)
export(performMixedDesignANOVA)
export(performWelchANOVA)
export(performFriedmanTest)
export(performKruskalWallisTest)
export(performWilcoxonTest)
export(performMannWhitneyTest)
export(performHomoscedasticityTest)
export(performShapiroWilkTest)
export(performShapiroWilkTestForMultipleDistributions)
export(performMultipleRegression)
export(performTukeyHSDTest)
export(performPairwiseTTest)
export(pairwise.t.test.with.t)
export(pairwise.table.t)
export(performPairwiseWilcoxTest)
export(pairwise.wilcox.test.with.statistic)
export(pairwise.table.with.statistic)
export(applyTransform)
export(findTransformForDependentVariables)
export(findTransformForNormality)
export(findTransformForHomogeneity)
export(findInteractionEffect)
export(findError)
export(writeToFile)
export(getVariableNames)
export(loadFile)
export(levene.test)
export(smd)
export(etaSquared)
export(performMixedEffectsANOVA)
export(performNWayANOVA)
export(getCombinations)
export(toFormulaString)
export(getOptimalNumberOfBins)

export(drawQQPlot)
export(drawResidualPlot)

export(performAlignedRankTransform)
export(matchedIndicesByColVal)
export(estimatedEffect)
export(powerSet)

export(getPairwiseCombinations)
export(performPairwiseTTestsWithBonfCorrection)
export(performPairwiseWilcoxTestsWithBonfCorrection)

export(parseStringToDataFrame)

export(DTKTest)
export(pValueTukey)

export(checkForDataTransformationsToSatisfyNormality)
export(checkForDataTransformationsToSatisfyHomoscedasticity)

export(leveneTest)
export(leveneTest.default)
export(leveneTest.formula)
export(leveneTest.lm)

export(findLinearSimpleMainEffect)
export(findMixedSimpleMainEffect)

export(findConfidenceIntervalOfSD)
export(getConfidenceIntervalForSDs)
